﻿<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="chkAll" data-ng-click="checkAll($event)" />
            </th>
            <th class="table-item-title table-item-w60">{{lbl.name}} <a data-ng-click="sort_by('TagName',$event)"><i class="fa fa-sort"></i></a></th>
            <th class="hmax768">{{lbl.size}}</th>
            <th class="hmax768">{{lbl.createdOn}}</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
            <td> <input type="checkbox" data-ng-model="item.IsChecked" /> </td>
            <td class="table-item-title">
                <span ng-if="item.FileType === 0">
                    <a title="{{item.Name}}" href="" ng-click="load(item.FullPath)" class="text-ellipsis pull-left"><i class="fa fa-folder"></i> {{item.Name}}</a>
                </span>
                <span ng-if="item.FileType != 0">
                    <!--<a title="{{item.Name}}" href="" ng-click="load(item.FullPath)" class="text-ellipsis pull-left"><i class="fa fa-file"></i> {{item.Name}}</a>-->
                    <i class="fa fa-file"></i> {{item.Name}}
                </span>
            </td>
            <td>{{item.FileSize}}</td>
            <td>{{item.Created}}</td>
        </tr>
        <tr id="tr-spinner"><td colspan="4"><div id="div-spinner"><i class="fa fa-spinner fa-spin"></i></div></td></tr>
    </tbody>
</table>
<div class="text-right pagination-wrapper">
    <div class="pull-left">
        <button class="btn btn-default" style="border:none;" disabled="disabled">
            <span class="ng-scope ng-binding">{{currentPath}}</span>
        </button>
    </div>
    <ul class="pagination pagination-sm">
        <li data-ng-class="{disabled: currentPage == 0}">
            <a data-ng-click="prevPage()">« {{lbl.prev}}</a>
        </li>
        <li data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
            <a data-ng-bind="n + 1">1</a>
        </li>
        <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
            <a data-ng-click="nextPage()">{{lbl.next}} »</a>
        </li>
    </ul>
</div>