﻿<div id="wrap">
    <div data-ng-include="" src="'views/shared/_nav.html'"></div>
    <div data-ng-include="" src="'views/shared/_navposts.html'"></div>
    <div class="container admin-views-main admin-views-content-posts" data-ng-controller="PostsController">
        <div class="page-header clearfix">
            <h2 class="page-title pull-left">
                {{lbl.posts}}
                <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
            </h2>
            <a href="{{SiteVars.RelativeWebRoot}}admin/editor/post.cshtml" class="btn btn-success btn-header pull-right" type="button"><i class="fa fa-plus"></i>{{lbl.writeNewPost}}</a>
        </div>
        <div class="toolbar-grid clearfix">
            <div class="pull-left">
                <button ng-click="processChecked('delete')" class="btn btn-danger btn-sm"><i class="fa fa-times"></i>{{lbl.doDelete}}</button>
                <button ng-click="processChecked('publish')" class="btn btn-success btn-sm"><i class="fa fa-check"></i>{{lbl.publish}}</button>
                <button ng-click="processChecked('unpublish')" class="btn btn-info btn-sm"><i class="fa fa-minus"></i>{{lbl.unpublish}}</button>
            </div>
            <div class="pull-right btn-flt-r hmin767"><button class="btn btn-default btn-sm"><i class="fa fa-cog fa-lg"></i><span>{{lbl.filter}}</span></button></div>
            <div class="pull-right filterbar flt-r clearfix">
                <div class="active-flt-r"></div>
                <div class="navbar-left search-grid pull-right">
                    <input type="text" ng-model="query" ng-change="search()" class="input-sm form-control pull-right" placeholder="{{lbl.search}}" />
                </div>
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <button id="fltr-all" class="btn btn-default btn-sm active" ng-click="gridFilter('IsPublished','all','all')">{{lbl.all}}</button>
                        <button id="fltr-pub" class="btn btn-default btn-sm" ng-click="gridFilter('IsPublished',true,'pub')">{{lbl.published}}</button>
                        <button id="fltr-dft" class="btn btn-default btn-sm" ng-click="gridFilter('IsPublished',false,'dft')">{{lbl.drafts}}</button>
                    </div>
                </div>
                <span class="pull-right lbl-show">{{lbl.show}} :</span>
            </div>
        </div>
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th><input type="checkbox" id="chkAll" ng-click="checkAll($event)" /></th>
                    <th class="table-item-title table-item-w60">{{lbl.title}} <a data-ng-click="sort_by('Title',$event)"><i class="fa fa-sort"></i></a></th>
                    <th class="hmax992">{{lbl.author}}</th>
                    <th class="hmax479">{{lbl.comments}}</th>
                    <th class="hmax768">{{lbl.createdOn}} <a data-ng-click="sort_by('DateCreated',$event)"><i class="fa fa-sort"></i></a></th>
                    <th>{{lbl.published}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                    <td><input type="checkbox" id="{{item.Slug}}" data-ng-model="item.IsChecked" /></td>
                    <td class="table-item-title">
                        <a title="{{item.Title}}" class="pull-left" href="{{SiteVars.RelativeWebRoot}}admin/editor/post.cshtml?id={{item.Id}}"> <span class="text-ellipsis">{{item.Title}}</span> </a>
                        <a title="{{item.Title}}" class="external-link pull-right" target="_blank" href="{{SiteVars.RelativeWebRoot}}post/{{item.Slug}}"><i class="fa fa-external-link"></i></a>
                    </td>
                    <td class="hmax992"><a href="" title="{{item.Author}}" ng-click="gridFilter('Author',item.Author,'')">{{item.Author}}</a></td>
                    <td class="item-comment-post hmax479">
                        <div ng-if="item.Comments">
                            <span class="item-comment-count item-comment-approved" ng-if="item.Comments[1] != 0" title="{{lbl.approved}}: {{item.Comments[1]}}">
                                <a href="{{item.RelativeLink}}#comment" target="_new">{{item.Comments[1]}}</a>
                            </span>
                            <span class="item-comment-count item-comment-pending" ng-if="item.Comments[0] != 0" title="{{lbl.pending}}: {{item.Comments[0]}}">
                                <a href="{{item.RelativeLink}}#comment" target="_new">{{item.Comments[0]}}</a>
                            </span>
                            <span class="item-comment-count item-comment-spam" ng-if="item.Comments[2] != 0" title="{{lbl.spam}}: {{item.Comments[2]}}">
                                <a href="{{item.RelativeLink}}#comment" target="_new">{{item.Comments[2]}}</a>
                            </span>
                        </div>
                    </td>
                    <td class="hmax768">{{item.DateCreated}}</td>
                    <td><input type="checkbox" data-ng-model="item.IsPublished" data-ng-disabled="true"></td>
                </tr>
                <tr id="tr-spinner"><td colspan="6"><div id="div-spinner"><i class="fa fa-spinner fa-spin"></i></div></td></tr>
            </tbody>
        </table>
        <div class="text-right pagination-wrapper">
            <ul class="pagination pagination-sm">
                <li data-ng-class="{disabled: currentPage == 0}">
                    <a data-ng-click="prevPage()">« {{lbl.prev}}</a>
                </li>
                <li data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                    <a data-ng-bind="n + 1">1</a>
                </li>
                <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a data-ng-click="nextPage()">{{lbl.next}} »</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="footer" data-ng-include src="'views/shared/_footer.html'"></div>

