﻿@using BlogEngine.Core

@*vcard comment@(Model.Post.Author.Equals(Model.Comment.Author, StringComparison.OrdinalIgnoreCase) ? " self" : "")
@(Model.IsOdd ? " thread-odd thread-alt" : " thread-even")*@


<div id="id_@(Model.Comment.Id)" class="comments-a">

  <ul>
      <li>
            <header>
                <figure> <span class="gravatar">@Html.Raw(Model.Gravatar(86))</span></figure>
                
                <h4>@Model.Comment.Author</h4>
                <p>@Model.Comment.DateCreated.ToString("MMMM d, yyyy 'at' h:mm tt")</p>
            </header>
            <p>@Html.Raw(Model.Text) </p>

            <footer>
                <ul>
                    <li>@Html.Raw(Model.ReplyToLink)</li>

                        <li>
                        
                            <span id="replies_(@Model.Comment.Id)">
                                @(Model.Comment.Comments.Count)
                            </span>
                        
                            @Html.NestedComments()

                        </li>
                </ul>
            </footer>
        </li>
  </ul>
</div>
