﻿@using BlogEngine.Core

<article class="post-a">

    <header>
       
        <h2>
            @if (Model.Location == BlogEngine.Core.ServingLocation.SinglePost)
            {
                @Model.Post.Title
            }
            else
            {
                <a href="@Model.Post.RelativeOrAbsoluteLink" class="taggedlink">@Model.Post.Title</a>
            }
        </h2>

        <p>@Model.Post.DateCreated.ToString("d MMMM yyyy ',' h:mm tt")</p>

        
    
    </header>
    
    
    @Html.Raw(Model.Body)

    @Html.Raw(Model.AdminLinks)

    <div class="comments-a">
       
            <h3>@Resources.labels.comments
                <span>
                    <a rel="nofollow" href="@Model.Post.RelativeOrAbsoluteLink#comment"> @Model.Post.ApprovedComments.Count </a>
                </span>
            </h3>
     
   </div>
   
    <br />




</article>