﻿@using BlogEngine.Core;
@{
    string loginText = Security.IsAuthenticated ? Resources.labels.logoff : Resources.labels.login;
    string loginUrl = Security.IsAuthenticated ? Utils.RelativeWebRoot + "Account/login.aspx?logoff" : Utils.RelativeWebRoot + "Account/login.aspx";

    bool isPost = Request.Url.PathAndQuery.IndexOf("/post/", StringComparison.OrdinalIgnoreCase) != -1;
    bool isPage = Request.Url.PathAndQuery.IndexOf("/page/", StringComparison.OrdinalIgnoreCase) != -1;
    string bodyCss = string.Format("sidebars{0}{1}",
        isPost ? " single-post" : string.Empty,
        isPage ? " page" : string.Empty);

    var UserName = User.Identity.Name;

    bool NewComment = false;
      
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Profil - AldrigVila</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, target-densitydpi=device-dpi">
    
    <script type="text/javascript" src="~/Custom/Themes/Main2/javascript/head.js"></script>
    
    <link rel="stylesheet" type="text/css" href="~/Custom/Themes/Main2/css/screen.css" media="screen">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic" media="screen">
    <link rel="stylesheet" type="text/css" href="~/Custom/Themes/Main2/css/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="~/Custom/Themes/Main2/css/site.css">
    <link rel="icon" href="~/Custom/Themes/Main2/images/favicon.ico" type="image/x-icon">
</head>



<body class="@bodyCss">

    <div id="root">


        <header id="top">
            <h1><a href="./" accesskey="h">AldrigVila</a></h1>
            <nav id="skip">
                <ul>
                    <li><a href="#nav" accesskey="n">Hoppa till navigeringen [n]</a></li>
                    <li><a href="#content" accesskey="c">Hoppa till innehåll [c]</a></li>
                    <li><a href="#footer" accesskey="f">Hoppa till sidfoten [f]</a></li>
                </ul>
            </nav>
            <nav id="nav">
                <ul id="primary">
                    <li><a href="@Utils.AbsoluteWebRoot">@Resources.labels.home </a></li>
                    <li><a accesskey="1" href="@Utils.AbsoluteWebRoot">@Resources.labels.categories </a><em>(1)</em></li>

                    <li class="">
                        <a accesskey="2" href="@(Utils.AbsoluteWebRoot)archive@(BlogEngine.Core.BlogConfig.FileExtension)">@(Resources.labels.archive)</a> 
                    <em>(2)</em>
                    </li>
                    
                    <li>
                    
                        <a accesskey="3" href="@(Utils.AbsoluteWebRoot)Contests">@Resources.labels.Contests </a> 
                        <em>(3)</em>
                    
                    </li>

                    <li>
                    
                        <a accesskey="4" href="@(Utils.AbsoluteWebRoot)account/create-blog.aspx">@Resources.labels.BecomeAMember </a> 
                        <em>(4)</em>
                    
                    </li>
                
                
                
                
                </ul>
                <ul id="secondary">
                    
                    <li>

                        <div class="form search-a ">
                            <div id="fieldset">
                                <p>
                                    <input type="text" value="" id="sa" name="sa" required onkeypress="if(event.keyCode==13) return BlogEngine.search('')" />
                                    <button type="submit" onkeypress="BlogEngine.search('');" onclick="BlogEngine.search('');" />
                                </p>
                            </div>
                        </div>
                    </li>
               
                    
    
                      @*<li>
                        <form action="./" method="post">
                            <fieldset>
                                <p>
                                    <label for="sa">Sök i bloggen..</label>
                                    <input type="text" id="sa" name="sa" required>
                                    <button type="submit">Sök</button>
                                </p>
                            </fieldset>
                        </form>
                    </li>*@



                 
                    @{   
                    

                    if (!Security.IsAuthenticated)

                    {     
                        <li><a accesskey="7" href="@(Utils.RelativeWebRoot)Account/login.aspx">Logga in</a> <em>(7)</em></li>
                    }    

                    if (Security.IsAuthenticated)

                    {      
                    
                   
                            if (NewComment)

                                {         
                                    <li class="a new"><a accesskey="5" href="./">Anmälningar</a> <em>(5)</em></li>
                                }

                            if (!NewComment)
                                {     
                                    <li class="a"><a accesskey="5" href="./">Anmälningar</a> <em>(5)</em></li>
                                }
                  
                                      
                    <li class="b"><a accesskey="6" href="@(Utils.RelativeWebRoot)admin/#/content">Nya inlägg</a> <em>(6)</em></li>    
                        
                        
                    <li>

                        <img src="@(Utils.AbsoluteWebRoot)image.axd?picture=/avatars/@(UserName).jpg" title="@(UserName) Image" alt="@(UserName) Image" width="29" height="29" /> 
                   <a accesskey="7" href="./">@User.Identity.Name</a> <em>(7)</em>
                        
                        
                        
                        <ul>
                            <li><a href="@(Utils.RelativeWebRoot)admin/#/users/profile">Min profil</a></li>
                            <li><a href="./">Meddelanden <span>(1)</span></a></li>
                            <li><a href="@(Utils.RelativeWebRoot)admin/#/settings">Inställningar</a></li>
                            <li><a href="@(Utils.RelativeWebRoot)Account/login.aspx?logoff">Logga ut</a></li>
                        </ul>
                    </li>
                    
                 }
                 
                    }               
                        
                        
                </ul>
            </nav>
        </header>




        <article id="featured">
            <header>
                <figure>

                    @*ToDo: Add default Image if Blog Owner don't have an Image*@

                    <img src="@(Utils.AbsoluteWebRoot)image.axd?picture=/avatars/@(System.Web.Security.Roles.GetUsersInRole("Administrators")[0]).jpg" alt="Blog Owner" width="120" height="141">
                </figure>


                <h2>@System.Web.Security.Roles.GetUsersInRole("Administrators")[0]</h2>
                <ul>
                    <li><span>219</span> points</li>
                    <li><span>79</span> level</li>
                </ul>
            </header>
            <ul class="gallery-a">
                <li><img src="http://placehold.it/59x33" alt="Placeholder" width="59" height="33"></li>
                <li><img src="http://placehold.it/45x33" alt="Placeholder" width="45" height="33"></li>
                <li><img src="http://placehold.it/89x33" alt="Placeholder" width="89" height="33"></li>
            </ul>
            <ul id="social-icons" class="social-a">
                <li class="pp"><a rel="external" href="http://paperplane.com/[CUSTOMFIELD|THEME|Main2|Paper Plane account|blogenginenet/]">Paper Plane?</a></li>
                <li class="tw"><a rel="external" href="http://twitter.com/[CUSTOMFIELD|THEME|Main2|Twitter account|blogenginenet/]">Twitter</a></li>
                <li class="fb"><a rel="external" href="http://facebook.com/[CUSTOMFIELD|THEME|Main2|Facebook account|BlogEngine.NET/]">Facebook</a></li>
                <li class="yt"><a rel="external" href="http://youtube.com/[CUSTOMFIELD|THEME|Main2|YouTube account|blogenginenet/]">YouTube</a></li>
                <li class="in"><a rel="external" href="http://instagram.com/[CUSTOMFIELD|THEME|Main2|Instagram account|blogenginenet/]">Instagram</a></li>
            </ul>
            <ul class="sort-a">
                <li>
                    <span>Mars 2014</span>
                    <ul>
                        <li><a href="./">Feb 2014</a></li>
                        <li><a href="./">Jan 2014</a></li>
                        <li><a href="./">Dec 2013</a></li>
                        <li><a href="./">Nov 2013</a></li>
                        <li><a href="./">Okt 2013</a></li>
                        <li><a href="./">Sept 2013</a></li>
                        <li><a href="./">Aug 2013</a></li>
                        <li><a href="./">Juli 2013</a></li>
                        <li><a href="./">Juni 2013</a></li>
                        <li><a href="./">Maj 2013</a></li>
                        <li><a href="./">April 2013</a></li>
                    </ul>
                </li>
            </ul>
        </article>


      



 <section id="content" class="cols-a">

     <article class="post-a">
         @RenderBody()
     </article>


         <aside>
             @Html.Raw(Html.RenderWidgetZone("be_WIDGET_ZONE"))
         </aside>


</section>



        <footer id="footer" class="vcard" itemscope itemtype="http://schema.org/Organization">
            <nav>
                <div>
                    <h3>Information <span class="fn org" itemprop="name">AldrigVila</span></h3>
                    <ul>
                        <li><a href="./">Om oss</a></li>
                        <li><a href="./">Användarvillkor</a></li>
                        <li><a href="./">Kontakt</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Partners</h3>
                    <ul>
                        <li><a rel="external" href="./">AldrigVila</a></li>
                        <li><a rel="external" href="./">TheRestlessCast</a></li>
                        <li><a rel="external" href="./">Shop</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Nätverk</h3>
                    <ul>
                        <li><a rel="external" href="./">Instagram</a></li>
                        <li><a rel="external" href="./">Youtube</a></li>
                        <li><a rel="external" href="./">Facebook</a></li>
                    </ul>
                </div>
            </nav>
            <p><span>Copyright &copy; <span class="date">@DateTime.Now.Year</span> AldrigVila</span> 
            <span>Alla rättigheter reserverade</span> <span class="adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span class="street-address" itemprop="streetAddress">Bresjögatan 19</span>, <span class="postal-code" itemprop="postalCode">256 94</span>, 
            <span class="locality" itemprop="addressLocality">Stockholm</span>
            </span>
            </p>
        </footer>



    </div>


        @*<script type="text/javascript">
            //head.load('http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        </script>*@
  
    <script src="@(Utils.AbsoluteWebRoot)custom/Themes/@(BlogSettings.Instance.Theme)/javascript/scripts.js" type="text/javascript">  </script>
    <script src="@(Utils.AbsoluteWebRoot)custom/Themes/@(BlogSettings.Instance.Theme)/javascript/mobile.js" type="text/javascript"> </script>
    
    
    <script>
    var links, index, link;
    links = document.getElementById('social-icons').getElementsByTagName('a');
    for (index = 0; index < links.length; ++index)
    {
        link = links[index];
        if (link.href == 'http://facebook.com/') { link.style.display = "none"; }
        if (link.href == 'http://twitter.com/') { link.style.display = "none"; }
        if (link.href == 'https://plus.google.com/') { link.style.display = "none"; }
        if (link.href == 'http://youtube.com/') { link.style.display = "none"; }
        if (link.href == 'http://paperplane.com/') { link.style.display = "none"; }
        if (link.href == 'http://instagram.com/') { link.style.display = "none"; }
        
    }
    </script>













 



    </body>
    </html>