﻿a 
{
    text-decoration:none;
    
}

ul
{
    list-style:none;
}

.widget
{
    display: block;
    position: relative;
    min-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #BBC9D3;
    text-decoration: none;
}


.search
{
    /*.search-a { margin: 0 0 17px; } */
    margin: 0 0 17px;   
}


.content
{
  /*.search-a p { color: #768590; font-size: 1em; }*/
  color: #768590; font-size: 1em;
}


.search label
{
    /*.js .search-a label { display: block; position: absolute; height: 44px; padding: 0 14px; line-height: 44px; cursor: text; }*/

   display: block; position: absolute; height: 44px; padding: 0 14px; line-height: 44px; cursor: text;

}

.search input
{
 /*.search-a input {  /*.search-a input { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; }*/ 

  box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; 


}

.search input[type=text] 
{
   /*.search-a input { width: 184px; padding: 0 40px 0 14px; background: rgba(9,13,17,.4); color: #768590; font-size: 10px; }*/

   width: 250px; padding: 0 40px 0 14px; background: rgba(9,13,17,.4); color: #768590; font-size: 10px;
  
}


.search input[type=button]
{
    /*.search-a button { background: url(../images/2x/search-a.png) no-repeat; background-size: cover; }*/
    /*.search-a button { position: absolute; right: 0; top: 0; width: 44px; height: 44px; background: url(../images/sprite-a.png) -69px 16px no-repeat; text-indent: -3000em; }*/
   
    position: absolute;
    right: -10px;
    top: 15px;
    width: 44px;
    height: 44px;
    background: url(../images/2x/search-a.png) no-repeat; 
    background-size: cover;
    text-indent: -3000em;
    border:none;
   
}




.recentposts .widget-header { }


.recentposts li { color: #AAA; font-size: 12px; }


.recentposts li a 
{ 
  width: auto; margin-left: -20px; margin-right: -20px; 
  margin-bottom: 50px; 
  color: #BBC9D3;       
}


.recentposts li a:hover, .recentposts li a:focus, .recentposts li a:active > ul li a 
    { 
      box-shadow: inset 0 0 30px rgba(94,180,273,.04); background: rgba(255,255,255,.02); color: #fff; text-decoration: none; 
    }
         
    
   

.tagcloud ul li 
{ 
    display: inline-block; 
    margin: 0px; 
    border: none; 
    padding: 0px; 
    font-weight: 700;
}



.tagcloud ul li a 
{ 
    display: block;
    position: relative;
    float: left;
    min-width: 31px;
    height: 30px;
    padding: 0px 10px;
    border-radius: 2px;
    color: #FFF;
    line-height: 30px;
    text-align: center;
    background: none repeat scroll 0% 0% #289BE5;

}





.tagcloud ul li A:hover { background: #0681ea; color: #fff; }


/*

.list-b li a {
    display: block;
    position: relative;
    float: left;
    min-width: 31px;
    height: 35px;
    padding: 0px 10px;
    border-radius: 2px;
    color: #FFF;
    line-height: 35px;
    text-align: center;
    background: none repeat scroll 0% 0% #289BE5;
    
*/



.form  button
{
    z-index: 1;
    position: absolute;
    right: 1px;
    top: 5px;
    width: 29px;
    height: 29px;
    box-shadow: none;
    background: url('../images/sprite-a.png') no-repeat scroll -80px -21px transparent;
    text-indent: -3000em;
}