﻿<div id="wrap">
    <div data-ng-include src="'views/shared/_nav.html'"></div>
    <div data-ng-include src="'views/shared/_navsettings.html'"></div>
    <div class="container admin-views-main admin-views-settings-comment" data-ng-controller="SettingsController">
        
        <div class="page-header clearfix">
            <h2 class="page-title pull-left">
                {{lbl.spamProtection}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
            </h2>
            <button data-ng-click="save()" class="btn btn-success btn-header pull-right" type="button"><i class="fa fa-save"></i>{{lbl.save}}</button>
        </div>
        <div class="toolbar-grid clearfix">
            <div class="pull-left">&nbsp;</div>
            <div data-ng-include src="'views/shared/_settingcomments.html'"></div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h4>{{lbl.rules}}</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-ng-model="settings.AddIpToWhitelistFilterOnApproval" />
                                    {{lbl.whitelistIpOnCommentApproval}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-ng-model="settings.TrustAuthenticatedUsers" />
                                    {{lbl.trustAuthenticated}}
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label for="selCultures">{{lbl.addToWhiteList}}</label>
                                    <label for="selCultures">{{lbl.authorApproved}}</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="selWiteListCount" class="form-control" data-ng-options="o.OptionName for o in whiteListOptions" data-ng-model="whiteListSelected"></select>
                                </div>                                   
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-ng-model="settings.BlockAuthorOnCommentDelete" />
                                    {{lbl.commentsBlockOnDelete}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-ng-model="settings.AddIpToBlacklistFilterOnRejection" />
                                    {{lbl.blacklistIpOnCommentRejection}}
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label for="selCultures">{{lbl.commentsBlacklist}}</label>
                                    <label for="selCultures">{{lbl.authorRejected}}</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="selBlackListCount" class="form-control" data-ng-options="o.OptionName for o in blackListOptions" data-ng-model="blackListSelected"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ng-controller="CommentFilterController" class="well">
                    <div>
                        <h4>{{lbl.filters}}</h4>
                        <button data-ng-click="deleteAll()" class="btn btn-sm btn-danger pull-right" type="button" style="margin-top: -20px">
                            <i class="fa fa-times"></i>{{lbl.deleteAll}}
                        </button>
                        <hr />
                    </div>
                    <form id="form" action="">
                        <table style="margin-bottom: 15px;">
                            <tr>
                                <td><button ng-click="processChecked('delete')" class="btn btn-sm btn-danger"><i class="fa fa-times"></i>{{lbl.doDelete}}</button></td>
                                <td style="padding: 0 20px"><input type="text" ng-model="query" ng-change="search()" class="form-control" placeholder="{{lbl.search}}"></td>
                                <td>
                                    <select class="form-control" id="ddAction" name="ddAction">
                                        <option value="Block" selected="selected">Block</option>
                                        <option value="Allow">Allow</option>
                                        <option value="Delete">Delete</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="ddSubject" name="ddSubject">
                                        <option value="IP" selected="selected">IP</option>
                                        <option value="Author">Author</option>
                                        <option value="Website">Website</option>
                                        <option value="Email">E-mail</option>
                                        <option value="Comment">Comment</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="ddOperator" name="ddOperator">
                                        <option value="Equals" selected="selected">Equals</option>
                                        <option value="Contains">Contains</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" style="width:300px;" class="form-control pull-right" id="txtFilter" maxlength="250" name="txtFilter">
                                </td>
                                <td>
                                    <input data-ng-click="addFilter()" class="btn btn-success" type="button" value="Add Filter">
                                </td>
                            </tr>
                        </table>
                    </form>
                    <table class="table table-bordered table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="chkAll" data-ng-click="checkAll($event)" />
                                </th>
                                <th class="table-item-title hmax768">Action</th>
                                <th class="hmax768">Subject</th>
                                <th class="hmax768">Operator</th>
                                <th class="hmax768">Filter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in pagedItems[currentPage]">
                                <td> <input type="checkbox" data-ng-model="item.IsChecked" /> </td>
                                <td><span class="pull-left">{{item.Action}}</span></td>
                                <td><span class="pull-left">{{item.Subject}}</span></td>
                                <td><span class="pull-left">{{item.Operation}}</span></td>
                                <td class="table-item-title">
                                    {{item.Filter}}
                                </td>
                            </tr>
                            <tr id="tr-spinner"><td colspan="5"><div id="div-spinner"><i class="fa fa-spinner fa-spin"></i></div></td></tr>
                        </tbody>
                    </table>
                    <div class="text-right pagination-wrapper">
                        <ul class="pagination pagination-sm">
                            <li data-ng-class="{disabled: currentPage == 0}">
                                <a data-ng-click="prevPage()">« {{lbl.prev}}</a>
                            </li>
                            <li data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                                <a data-ng-bind="n + 1">1</a>
                            </li>
                            <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a data-ng-click="nextPage()">{{lbl.next}} »</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div id="footer" data-ng-include src="'views/shared/_footer.html'"></div>